# NimBridgeIR example config
# Installed path: /etc/nimbridgeir/config.env

NBI_ENABLED=0
NBI_PROXY_HOST=127.0.0.1
NBI_PROXY_PORT=8080
NBI_PROXY_USER=
NBI_PROXY_PASS=
NBI_AUTO_RESTORE_ON_DISABLE=1
NBI_DOCKER_ACCESS_CONFIGURED=0
NBI_NO_PROXY=localhost,127.0.0.1,::1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
